<h3>HTTP REST Response von /artikel</h3>
<h4> HTTP Request mir Ascnchron Handling</h4>


<h2>http get Async: </h2>

<pre ngNonBindable>

  artikelListe: any[] = [];

  ladeDaten() &#123;
     this.http.get&lt;any[]&gt;('http://localhost:3000/artikel').subscribe(data =&gt; &#123;
      this.artikelListe = data;
      &#125;);
</pre>
<h3>Wir nutzen zur anzeige der Variablen im Modul hier Interpolation </h3>
<h4 ngNonBindable>{{artikelListe}} --></h4>
<div>
    <p>
        {{artikelListe}}
    </p>
    <h2 ngNonBindable>{{deepTypeOf(artikelListe)}} --> </h2>
    <p>{{deepTypeOf(artikelListe)}}</p>
</div>
<h2 ngNonBindable>{{artikelListe | json}}  --> </h2>
<pre>
{{artikelListe | json}}
</pre>

